<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kuroneko.db.demo.mapper.GroupMapper" >

    <select id="list" resultType="cn.kuroneko.db.demo.domain.Group">
        select * from test_group
    </select>

</mapper>