<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    　
    <property name="CHARSET" value="UTF-8"/>
    <property name="APP_NAME" value="ccm-service"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件名-->
        <File>logs/${APP_NAME}.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--分割之后文件的命名方式-->
            <FileNamePattern>logs/${APP_NAME}.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--日志文件的最大大小-->
                <MaxFileSize>10MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度  %msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{10} - %msg%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <!-- FATAL > ERROR > WARN > INFO > DEBUG > TRACE -->
    <logger name="cn.kuroneko.db.demo.mapper" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>

    <!-- 测试环境+开发环境 -->
    <springProfile name="test,dev,uat">
        <logger name="cn.kuroneko.db.demo.mapper" level="INFO"/>
    </springProfile>
    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="cn.kuroneko.db.demo.mapper" level="INFO"/>
    </springProfile>
</configuration>  